.scroll-indicator {
    position: relative;
    bottom: 37px;
    left: 50%;
    transform: translateX(-50%);
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scroll-arrow {
    width: 8px;
    height: 8px;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(45deg);
    animation: scrollDown 1s infinite;
}

@keyframes scrollDown {
    0% {
        transform: translateY(0) rotate(45deg);
        opacity: 1;
    }

    100% {
        transform: translateY(10px) rotate(45deg);
        opacity: 0;
    }
}


@media (max-width: 768px) {
    .scroll-indicator {
        display: none;
    }
}

@media (max-width: 1024px) {
    .scroll-indicator {
        display: none;
    }
}

@media (max-width: 1276px) {
    .scroll-indicator {
        display: none;
    }
}